$domino-width: 100px;
$vertical-dominoes: 5;
$horizontal-dominoes: 6;

.dominoStack {
    // there's nothing flexy about this. It's a left-justified vertical list + margin-left. No need for fancy flexbox wrapping/centering.
    width: $domino-width * $horizontal-dominoes;
    // height is as tall as it needs to be. (Thus, don't specify it.)
    border: 2px dotted rgb(96 139 168);

    // & > :nth-child(3) { // make sure to include the > (the immediate descendant combinator) after &. Otherwise it selects .dominoStacks that ARE a first child, rather than the first child OF .dominoStacks.
    //     border: 2px solid green;
    //     margin-left: $domino-width;
    // }

    @for $i from 1 through $vertical-dominoes {
        & > :nth-child(#{$i}) {
            border: 2px solid green;
            margin-left: #{($i - 1) * 100}px; //I'd use $domino-width here, but it has px on the end already.
          // transition: all .2s #{$i * .1}s ease-in;
        }
    }
}

.dominoPair {
    display: flex;
    flex-wrap: nowrap; // keeps the dominoes side-by-side
    width: 2 * $domino-width + 4px;
    border: 2px solid red;
}
.domino {
    width: $domino-width - 2 * 5px - 2 * 3px; // subtract border & padding (internal to border). No padding
    height: 50px;
    padding: 5px;
    border: 3px solid gray;
    margin: 0;
}