// This file's intended for styling the two progress bars. 

// names-bar is green, quick, and has the same duration for each name.
// objects-bar is purple, slower, with a varying duration (specified for each object-pair.)
.progressContainer {
    width: 500px;
    height: 20px;
    background: rgb(221, 222, 222);
    border-radius: 5px;
}

.progressBar {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    animation-name: shrink; // here's what the keyframes animation is called
    animation-duration: 3s;  // default. Name-pairs use the default. Object-pairs have custom durations, much longer than 3s, since it's for a story (not for typing). Objects they can type it as slowly as they want.
    animation-fill-mode: forwards; // makes the last frame of the animation persist after 3s

    &_green {
        @extend .progressBar;
        background: rgb(83, 174, 83);
    }
    &_purple {
        @extend .progressBar;
        background: rgb(156, 83, 174);
    }
    
}
 
@keyframes shrink {
    0% {opacity: 0.5; width: 100%;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    80% {opacity: 1;}
    100% {width: 0%;}
}

.delayDomino {
    opacity: 0;
    animation-name: showDomino;
    animation-delay: 2s; // default
    animation-duration: 2s; // default
    animation-fill-mode: forwards;
}

@keyframes showDomino {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
